.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
  @media all and (min-width: 1024px) {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }


}


.dropdownButton {
  a, button {

    background-repeat: no-repeat;
    background-position: 20px center;
    color: var(--gray99);
    line-height: 1;

    &:hover {
      color: var(--gray66);
    }
  }
}

.commentsDropdown {
  @media screen and (max-width: 1023.99px) {
    display: none !important;

  }
  a, button {

    background-image: url('./assets/comments.svg');


    &:hover {
      background-image: url('./assets/comments_hover.svg');
    }
  }
}

.shareDropdown {
  @media screen and (max-width: 1023.99px) {
    display: none !important;

  }
  a, button {

    background-image: url('./assets/share.svg');


    &:hover {
      background-image: url('./assets/share_hover.svg');
    }
  }
}

.hideDropdown {
  a, button {

    background-image: url('./assets/hide.svg');

    &:hover {
      background-image: url('./assets/hide_hover.svg');
    }
  }
}

.saveDropdown {
  @media screen and (max-width: 1023.99px) {
    display: none !important;

  }
  a, button {

    background-image: url('./assets/save.svg');


    &:hover {
      background-image: url('./assets/save_hover.svg');
    }
  }
}

.alertDropdown {
  a, button {

    background-image: url('./assets/alert.svg');

    &:hover {
      background-image: url('./assets/alert_hover.svg');
    }
  }
}

.closeDropdown {
  a, button {

    text-align: center !important;
    padding-right: 40px !important;
    background-color: var(--grayD9);
    color: var(--gray66);

  }
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;

  @media all and (min-width: 1024px) {
    align-self: center;
    transform: unset;
  }

  &:active {
    background-color: rgba(51, 51, 51, 0.1);
  }

  &:hover {
    @media all and (min-width: 1540px) {
      background-color: rgba(51, 51, 51, 0.1);
    }
  }
}


.closeButton {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}
