.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
  @media all and (min-width: 1024px) {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
    border-radius: 0;
  }
  @media all and (min-width: 1540px) {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }

  &:hover, &:focus-within {
    @media all and (min-width: 1540px) {
      outline: 1px solid var(--grayC4);

    }

    h2 a {
      color: var(--orange);
    }
  }


  > * {
    @media all and (min-width: 1024px) {
      flex: 0 0;

    }

    + * {
      padding: 13px 0 0;
      @media all and (min-width: 1024px) {
        padding: 0;

      }
    }
  }

  .textContent{
    flex-grow: 1;
  }
}

.preview {
  max-height: 178px;
  margin: 0 -20px;
  @media all and (min-width: 1024px) {
    flex-basis: 190px;
    order: -1;
    margin: 0;
    margin-right: 40px;
  }

  .previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}




.karmaCounter {
  @media all and (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  > * {
    + * {
      padding: 0 0 0 4px;
      @media all and (min-width: 1024px) {
        padding: 7px 0 0;
      }
    }
  }

  > button.up {
    &:hover {
      > svg {
        > path {
          @media all and (min-width: 1540px) {
            fill: var(--green);
          }
        }
      }
    }
  }

  > button.down {
    &:hover {
      > svg {
        > path {
          @media all and (min-width: 1540px) {
            fill: var(--orange);
          }
        }
      }
    }
  }
}

.karmaValue {
  cursor: revert;
  color: var(--grayC4);
  font-size: 12px;
  line-height: 14px;
  @media all and (min-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

svg.down {
  transform: rotate(180deg);
}

.commentsButton {
  display: flex;
  align-items: normal;

  @media all and (min-width: 1024px) {
    display: none;
  }

  * {
    color: var(--grayC4);
  }
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}














